<ion-header translucent>
  <ion-toolbar>
    <ion-title>上传附件</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="doClose()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item lines="full">
      <ion-label>
        单据号
      </ion-label>
      <ion-input required type="text" disabled [(ngModel)]="billNo"></ion-input>
    </ion-item>
    <!-- 收票明细 -->
    <ion-item lines="full" (click)="toggleShow()">
      <ion-label>附件</ion-label>
      <ion-icon name="arrow-up" class="downClass" *ngIf="showFlag"></ion-icon>
      <ion-icon name="arrow-down" class="downClass" *ngIf="!showFlag"></ion-icon>
    </ion-item>
    <!-- f附件信息 -->
    <ion-row *ngIf="showFlag">
      <ion-col size="12" style=" margin-bottom: 0;">
        <ion-button color="myPrimary" class="attButton">
          <!-- <ion-icon slot="icon-only" name="ios-qr-scanner"></ion-icon> -->
          上传附件
        </ion-button>
        <ion-button color="myPrimary" class="attButton">
          <!-- <ion-icon slot="icon-only" name="ios-qr-scanner"></ion-icon> -->
          下载
        </ion-button>
        <ion-button color="myPrimary" class="attButton">
          <!-- <ion-icon slot="icon-only" name="ios-qr-scanner"></ion-icon> -->
          预览
        </ion-button>
      </ion-col>
      <ion-col size="12" style=" padding: 0;">
        <ion-card style="margin-top: 0;">
          <ion-card-header>
            <ion-row>
              <ion-col size="12" style="text-align: right;">
                <ion-icon name="ios-close-circle" (click)="remove(item)"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-card-header>
          <ion-card-content>
            <ion-list lines="none">
              <ion-item>
                <ion-label>
                  文件名
                </ion-label>
                <ion-input required type="text" disabled [(ngModel)]="fleAttachment.fileName"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>
                  上传日期
                </ion-label>
                <ion-datetime doneText="确定" [(ngModel)]="fleAttachment.uploadDate" cancelText="取消"
                  displayFormat="YYYY-MM-DD" disabled>
                </ion-datetime>
              </ion-item>
              <ion-item>
                <ion-label>
                  上传人
                </ion-label>
                <ion-input required type="text" [(ngModel)]="fleAttachment.uploadEmployeeName" disabled></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>
                  备注
                </ion-label>
                <ion-input required type="text" [(ngModel)]="fleAttachment.remark"></ion-input>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- 商品添加 -->
  </ion-list>
</ion-content>