<ion-menu swipe-gesture="true" side="end" type="overlay" menuId="mine">
  <ion-content>
    <div class="screenWrap">
      <div class="timeWrap">
        <ion-label position="stacked">认领日期</ion-label>
        <div class="datatime">
          <ion-datetime displayFormat="YYYY-MM-DD" cancelText="取消" doneText="确定" mode="ios" placeholder="开始时间"
            (ionChange)="changeStartTime($event)" [(ngModel)]="formData.claimDateStart"></ion-datetime>
          &nbsp;--&nbsp;
          <ion-datetime displayFormat="YYYY-MM-DD" cancelText="取消" doneText="确定" mode="ios" placeholder="结束时间"
            (ionChange)="changeEndTime($event)" [(ngModel)]="formData.claimDateEnd">
          </ion-datetime>
        </div>
      </div>
      <ion-list lines='none'>
        <ion-item class="number_input">
          <ion-label position="stacked">单据号</ion-label>
          <ion-input [(ngModel)]="formData.claimNo"></ion-input>
        </ion-item>
        <ion-item class="number_input">
          <ion-label position="stacked">收款单号</ion-label>
          <ion-input [(ngModel)]="formData.receiveNo"></ion-input>
        </ion-item>
        <ion-item class="number_select">
          <ion-label position="stacked">业务部门</ion-label>
          <ion-select [(ngModel)]="formData.bizDeptCode" okText="确定" cancelText="取消">
            <ion-select-option *ngFor="let item of bizDeptCodeList" [value]="item.code">{{ item.name }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item class="number_select">
          <ion-label position="stacked">业务员</ion-label>
          <ion-select [(ngModel)]="formData.bizEmployeeCode" okText="确定" cancelText="取消">
            <ion-select-option *ngFor="let item of bizEmployeeCodeList" [value]="item.code">{{ item.name }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item class="number_select">
          <ion-label position="stacked">制单人</ion-label>
          <ion-select [(ngModel)]="formData.optEmployeeCode" okText="确定" cancelText="取消">
            <ion-select-option *ngFor="let item of bizEmployeeCodeList" [value]="item.code">{{ item.name }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </div>
    <div class="screen_btn">
      <button (click)="screenReset()">重置</button>
      <button (click)="screenConfirm()">确定</button>
    </div>
  </ion-content>
</ion-menu>

<ion-router-outlet main></ion-router-outlet>