@function rem($px) {
  @return ($px / 32) * 1rem;
}
.newsDetailWrap {
  --background: #ededed;
  --padding-start: 0.94rem;
  --padding-end: 0.94rem;
  .detail_content {
    padding-top: rem(20);
    .detail_date {
      color: #999;
      font-size: rem(24);
      text-align: center;
      width: 100%;
      height: rem(32);
      display: inline-block;
    }
    ion-card {
      --background: #fff;
      box-shadow: none;
      border-radius: 5px;
      border: 1px solid #e1e1e1;
      margin: rem(20) rem(10);

      ion-item {
        border-bottom: 1px solid #e1e1e1;
        font-size: rem(30);
        --padding-start: 0.652rem;
        --min-height: 2.5rem;
        img {
          width: rem(40);
          height: rem(40);
          margin-right: rem(10);
        }
      }
      ion-card-content {
        font-size: rem(28);
        color: #666;
        padding: rem(20);
        min-height: rem(160);
      }
    }
  }
}
