@function rem($px) {
  @return ($px / 32) * 1rem;
}
.login_wrapper {
  width: 100%;
  height: 100%;
  padding: 0 0.94rem;
  background: url("../../assets/img/login/login-bg.png") no-repeat center;
  background-size: cover;
  overflow: hidden;
  .login {
    margin: 0rem auto;
    margin-top: rem(200);
    .logo {
      height: rem(160);
      img {
        width: rem(140);
      }
    }
    h4 {
      color: #fff;
      font-size: rem(42);
      margin-bottom: rem(20);
      text-shadow: 0 1px 4px #0a5794;
      span {
        font-size: rem(28);
      }
    }
  }
  .my-input {
    --ion-background-color: none;
    margin-bottom: rem(50);
    ion-item {
      &:last-child {
        input {
          width: rem(280);
        }
      }
      height: rem(100);
      color: #ffffff;
      --border-color: #9ccfeb;
      --padding-start: 0.4rem;
      ion-label {
        font-size: rem(32);
        margin-bottom: 0;
      }
      ion-thumbnail {
        width: rem(240);
        height: rem(76);
        border: 1px solid #9ccfeb;
        margin: 0;
      }
      input {
        border: none;
        outline: 0;
        width: rem(520);
        background: none;
        margin-top: rem(24);
      }
      input::-webkit-input-placeholder {
        color: #80c6e7;
        font-size: rem(30);
      }
      input::-moz-placeholder {
        color: #80c6e7;
        font-size: rem(30);
      }
      input::-ms-input-placeholder {
        color: #80c6e7;
        font-size: rem(30);
      }
    }
  }
  ion-button {
    --border-radius: 2px;
    font-size: rem(36);
    color: #ffffff;
    z-index: 99;
  }
}
