@function rem($px) {
  @return ($px / 32) * 1rem;
}
.content_list {
  margin: rem(20) 0;
  .in-item {
    max-width: 80% !important;
  }
  .select {
    font-size: rem(26);
    .label {
      width: rem(200);
      color: #999999;
    }

    .input {
      width: 16rem;
      height: rem(60);
      --padding-bottom: 0.3rem;
      --padding-start: 0.3rem;
      --padding-top: 0.4rem;
      --placeholder-color: #acacac;
      --color: #333333;
      border-bottom: 1px solid #e1e1e1;
      font-size: rem(24);
      color: #333333;
    }
  }
  .submitter {
    font-size: rem(26);
    .label {
      width: rem(168);
      color: #999999;
    }
    .input {
      // width: rem(426);
      height: rem(260);
      --padding-bottom: 0.3rem;
      --padding-end: 0.3rem;
      --padding-start: 0.3rem;
      --padding-top: 0.4rem;
      --placeholder-color: #acacac;
      --color: #333333;
      border: 1px solid #e1e1e1;
      display: grid;
      font-size: rem(24);
    }
  }
}
.ion-no-margin {
  --border-radius: 2px;
}
